/**
 * Place your custom styles here.
 */

* { border-radius: 0 !important; }
 
#page { margin-top: 60px; }

.navbar-default,
.navbar-form { 
  background-color: transparent; 
  border: 0; 
}

.active { background-color: transparent !important; }