/**
 * Place your custom styles here.
 */

* { 
  border-radius: 0 !important;
}
#header,
#main-menu,
#messages,
#main-content,
#content,
#sidebar-first,
#sidebar-second,
#footer {
  border: 1px solid red;
}
 
#page { margin-top: 60px; }

#header-left,
#main-menu,
#bs-example-navbar-collapse-1,
li.first> a,
.navbar {
  padding-left: 0;
}
/* Navigation */
.navbar-default,
.navbar-form { 
  background-color: transparent; 
  border: 0; 
}

.navbar {
  margin-bottom: 0;
}

.active { background-color: transparent !important; }


/* node.tpl.php*/
.node {
  margin-bottom: 20px;
}

header h2,
#content h2 {
  margin-top: 0;
}

p {
  font-family: georgia, serif;
  font-size: 18px;
  font-style: normal;
}
