/**
 * Place your custom styles here.
 */

* { border-radius: 0 !important; }
 
#page { margin-top: 60px; }

#header-left {
  padding-left: 0;
}

/* Navigation */
.navbar-default,
.navbar-form { 
  background-color: transparent; 
  border: 0; 
}

.active { background-color: transparent !important; }


/* node.tpl.php*/
.node {
  border: 1px solid;
  margin-bottom: 20px;
}

.field-item p {
  text-align: justify;
}
