/**
 * Place your custom styles here.
 */

* { 
  border-radius: 0 !important;
}

body {
  background-color: #f9f5e8;
}

#page { margin-top: 60px; }


#site-slogan {
  font-family: 'Georgia', serif;
  font-style: italic;
  font-size: 20px;
}

#main-menu,
#bs-example-navbar-collapse-1,
li.first> a,
.navbar {
  padding-left: 0;
}
/* Navigation */
.navbar-default,
.navbar-form { 
  background-color: transparent; 
  border: 0; 
}

.navbar {
  margin-bottom: 0;
}

.active { background-color: transparent !important; }

header h2,
#content h2 {
  margin-top: 0;
}

p,
.field-item li {
  font-family: 'Georgia', serif;
  font-size: 18px;
  font-style: normal;
}

/* search */
.btn-primary {
  background-color: #9896A4;
  border-color: #9896A4;
}
