/**
 * Place your custom styles here.
 */

* { 
  border-radius: 0 !important;
}

body {
  background-color: #f9f5e8;
}

#header,
#header-right,
#header-left,
#main-menu,
#messages,
#main-content,
#content,
#sidebar-first,
#sidebar-second,
#footer {
  /* border: 1px solid red; */
}
 
#page { margin-top: 60px; }

#header-left {
  font-family: 'Oswald', sans-serif;
}

#site-slogan {
  font-family: 'Georgia', serif;
  font-style: italic;
  font-size: 20px;
}

#main-menu,
#bs-example-navbar-collapse-1,
li.first> a,
.navbar {
  padding-left: 0;
}
/* Navigation */
.navbar-default,
.navbar-form { 
  background-color: transparent; 
  border: 0; 
}

.navbar {
  margin-bottom: 0;
}

.active { background-color: transparent !important; }


/* node.tpl.php*/
.node {
  margin-bottom: 20px;
}

.node-title {
  color: #303030;
  font-family: 'Crimson Text', serif;

}

header h2,
#content h2 {
  margin-top: 0;
}

p,
.field-item li {
  font-family: 'Georgia', serif;
  font-size: 18px;
  font-style: normal;
}

/* search */
.btn-primary {
  background-color: #9896A4;
  border-color: #9896A4;
}
